.home-container{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3fr;
    overflow: hidden;
    height: calc(100vh - 70px);
    width: 100vw;

    .users-container{
        margin-top: 1px;
        border-right: 2px solid #f0961946;
        overflow-y: auto;
        background: white;
    }
}


.user-wrapper{
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;

    &:hover{
        background-image: linear-gradient(to right, #ff522f9a 0%, #f0961971  51%);
        transition: all 0.3s ease-in-out;
        color: white;
    }
    

    .user-info{
        
        display: flex;
        justify-content: space-between;
        align-items: center;

        .user-detail{
            display: flex;
            align-items: center;

            h4{
                margin-left: 10px;
            }

            .avatar{
                width: 50px;
                height: 50px;
                border-radius: 50%;
                border: 1px solid #F09819;
            }
        }

        
        
    }

    .user-status{
        width: 10px;
        height: 10px;
        border-radius: 50%;

       
       
    }
    .online{
        background: #83ff83;
    }
    .offline{
        background: red;
    }
}
