.home-container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3fr;
    overflow: hidden;
    height: calc(100vh - 70px);
    width: 100vw;
    background-image: url('../assets/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    .users-container {
        margin-top: 1px;
        // border-right: 2px solid #f0961946;
        overflow-y: auto;
        background-image: linear-gradient(to bottom, #f096193b 0%, #ff522f42 51%)
    }


    .messages-container {
        position: relative;
        width: 100%;

        .messages-user {
            color: black;
            margin-top: 1px;
            padding: 10px;
            text-align: center;
            // border-bottom: 2px solid #f0961946;
             background-image: linear-gradient(to right, #fdf1e08c 0%, #ffe3b856  51%);

        }

        .no-chat {
            font-size: 20px;
            color: #F09819;
            text-align: center;
        }
    }

}



.user-wrapper {
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;

    &:hover {
        background-image: linear-gradient(to right, #ff522f50 0%, #f0961950 51%);
        transition: all 0.3s ease-in-out;
        color: white;
        // box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, #0000004d 0px 30px 60px -30px;
    }


    .user-info {

        display: flex;
        justify-content: space-between;
        align-items: center;

        .user-detail {
            display: flex;
            align-items: center;

            h4 {
                margin-left: 10px;
            }

            .avatar {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                border: 1px solid #F09819;
            }
        }



    }

    .user-status {
        width: 10px;
        height: 10px;
        border-radius: 50%;



    }

    .online {
        background: #83ff83;
    }

    .offline {
        background: red;
    }

}


.selected-user{
    background-image: linear-gradient(to right, #ff522f50 0%, #f0961950 51%);
}

.truncate{
    font-size: 14px;
    white-space: nowrap;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;

    strong{
        margin-right: 10px;
    }
}

.unread{
    margin-left: 10px;
    background: #F09819;
    color: white;
    padding: 2px 4px;
    border-radius: 10px;
}

.message-form {
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;

    input {
        width: 40vw;
        margin: 0px 10px 10px;
        padding: 10px;
        border-radius: 5px;
        outline: none;
        border: none;
    }

    .btn {
        margin-top: -10px;
    }
}

.messages {
    height: calc(100vh - 200px);
    overflow-y: auto;
    border-bottom: 1px solid #F09819;

}

.message-wrapper {
    margin-top: 5px;
    padding: 0px 5px;

    img {
        width: 100%;
        border-radius: 5px;
    }

    p {
        padding: 10px;
        display: inline-block;
        max-width: 50%;
        text-align: left;
        border-radius: 5px;


    }

    small {
        display: inline-block;
        margin-top: 15px;
        opacity: 0.8;
    }

    .me {
        background: #f0961950;
        color: black;
    }

    .friend {
        background: #6e6e6e18;
        color: black;
    }

}

.message-wrapper.own {
    text-align: right;
}
.sm-screen{
    display: none;
}
@media screen and (max-width:767px) {
    .home-container{
        grid-template-columns: 2fr 3fr;
    }
    .message-form{
        left: 3%;
        right: 0;
        bottom: 5px;
    }
    .message-wrapper p{
        max-width: 75%;
    }
}

@media screen and (max-width: 576px){
    .home-container{
        grid-template-columns: 1fr 5fr;
    }

    .user-wrapper{
        display: none;
    }

    .sm-container{
        padding: 10px 0px;
        text-align: center;
        cursor: pointer;

        img{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 1px solid #F09819;
        }
    }

    .sm-screen{
        display: inline-block;

        
    }

    .message-form input{
        width: 50vw;
        
    }

   

    .message-wrapper p{
        max-width: 100%;
    }
    
}