body{
    background: linear-gradient(to right, #00d2ff, #3a7bd5);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
   

    .form-wrapper{
        background: white;
        padding: 20px 80px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;

    // Input{
    //     margin: 0 10px 5px 0;
    //     padding: 0 30px;
       

    //     &:placeholder-shown{
    //         margin: 0 0  0 -30px;
    //     }
    // }

    .logo{
        color: #3a7bd5;
        font-weight: bold;
        font-size: 24px;
    }
    .title{
        color: #3a7bd5;
    }

        form{
            display: flex;
            flex-direction: column;
            gap: 15px;

            label{
                display: flex;
                align-items: center;
                gap: 10px;
                color: #3a7bd5;
                font-size: 12px;
                cursor: pointer;
               
            }
        }
    }
}

.home{
   
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .container{
        border: 1px solid white;
        border-radius: 10px;
        width: 65%;
        height: 80%;
        display: flex;
        overflow: hidden;

        .sidebar{
            flex: 1;
            background-color: #3a7bd5b9;

            .navbar{
                display: flex;
                align-items: center;
                background-color: #3a7bd5;
                height: 50px;
                padding: 10px;
                justify-content: space-between;
                color: white;

                .logo{
                    font-weight: bold;
                }

                .user{
                    display: flex;
                    gap: 10px;

                    img{
                        background-color: white;
                        height: 24px;
                        width: 24px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    Button{
                        background-color: #e6f0ff;
                        font-weight: bold;
                        font-size: 10px;
                    }
                }

            }

            .search{
                border-bottom: 1px solid rgb(223, 223, 223);
                
                .search-form{
                    padding: 10px;

                    Input{
                        width: 100%;
                        &:placeholder-shown{
                            color: white;
                        }
                    }
               }
            }

            .user-chat{
                padding: 10px;
                display: flex;
                align-items: center;
                gap: 10px;
                color: white;
                cursor: pointer;

                &:hover{
                    background-color: #3a7bd5;
                    transition: all 0.3s ease-out;
                }

                img{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                .user-chatInfo{
                    span{
                        
                        font-size: 18px;
                        font-weight: 500;
                    }
                    p{
                        font-size: 14px;
                        color: lightgray;
                    }
                }
            }
        }
        .chat{
            flex: 2;
        }
    }
}