body {
    // background: background-color: #FBDA61;
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
    ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;


    .form-wrapper {
        background: white;
        padding: 20px 80px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;

        color: #e97a51;

        // Input{
        //     margin: 0 10px 5px 0;
        //     padding: 0 30px;


        //     &:placeholder-shown{
        //         margin: 0 0  0 -30px;
        //     }
        // }

        .logo {
            color: #f09676;
            font-weight: bold;
            font-size: 24px;
        }

        .title {
            color: #f09676;

        }

        form {
            display: flex;
            flex-direction: column;
            gap: 15px;


            button {
                background-image: linear-gradient(to right, #FBDA61 0%, #FF5ACD 51%, #FF8008 100%);
                margin: 10px;
                padding: 15px 45px;
                text-align: center;
                text-transform: uppercase;
                transition: 0.5s;
                background-size: 200% auto;
                color: white;
                box-shadow: 0 0 20px #eee;
                border-radius: 10px;
                display: block;
                border: none;
                cursor: pointer;


                &:hover {
                    background-position: right center;
                    /* change the direction of the change here */
                    color: #fff;
                    text-decoration: none;
                }

            }

            label {
                display: flex;
                align-items: center;
                gap: 10px;
                color: #f09676;
                font-size: 12px;
                cursor: pointer;

            }
        }
    }
}

.home {

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
        border: 1px solid white;
        border-radius: 10px;
        width: 65%;
        height: 80%;
        display: flex;
        overflow: hidden;

        .sidebar {
            flex: 1;
            background-color: #fcece7fd;

            .navbar {
                display: flex;
                align-items: center;
                background-color: #FBDA61;
                background-image: linear-gradient(130deg, #ff5ace88 0%, #fae8a9 100%);


                height: 50px;
                padding: 10px;
                justify-content: space-between;
                color: white;

                .logo {
                    font-weight: bold;
                }

                .user {
                    display: flex;
                    gap: 10px;

                    img {
                        background-color: white;
                        height: 24px;
                        width: 24px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    button {
                        background-color: #FBDA61;
                        background-image: linear-gradient(130deg, #FBDA61 0%, #ff5ace88 100%);

                        font-weight: bold;
                        font-size: 10px;
                        color: white;
                        text-transform: capitalize;

                    }
                }

            }

            .search {
                border-bottom: 1px solid rgb(207, 207, 207);

                .search-form {
                    // padding: 10px;

                    input {
                        background-color: transparent;
                        border: none;
                        color: black;
                        outline: none;

                        &::placeholder {
                            color: lightgray;
                        }
                    }
                }
            }

            .user-chat {
                padding: 10px;
                display: flex;
                align-items: center;
                gap: 10px;
                color: black;
                cursor: pointer;

                &:hover {
                    background-color: #FBDA61;
                    background-image: linear-gradient(130deg, #ff5ace88 0%, #fae8a9 100%);

                    color: white;
                    transition: all 0.3s ease-in;
                }

                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                .user-chatInfo {

                    span {
                        font-size: 18px;
                        font-weight: 500;
                        margin: 0;
                    }

                    p {
                        font-size: 14px;




                    }
                }
            }

        }

        .chat {
            flex: 2;
            margin-left: 10px;

            .chat-info {
                height: 50px;
                background-color: white;
                background-color: #FBDA61;
                background-image: linear-gradient(130deg, #ff5ace88 0%, #fae8a9 100%);
                box-shadow: #959da533 0px 8px 24px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px;
                color: white;
            }

            .messages {
                background-color: #fcece7fd;
                padding: 10px;
            }
        }
    }
}